.MainContainer
{
    display: flex;
    flex-direction: row;
    background-color: rgb(187, 217, 227);
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    gap:18rem;
}
.Left
{
    display: flex;
    flex-direction: column;
}
.MainTitle 
{padding-top: 40px;
 font-size: 100px;

}
.Start
{
    padding-top: 30px;
    font-size: 20px;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.SubContent
{
   
        font-size: 30px;
        font-style: oblique


}
.Right
{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.RightImage
{


}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  cursor:pointer;
  --border-right: 6px;
  --text-stroke-color:rgb(255, 255, 255);
  --animation-color: #000000;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  .second{
    background-color: #349dbddc;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--gray150);
    overflow-y: hidden;
  }
  .secondLeft{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
  }
  .secondLeftIcon{
    margin-top: 40px;
    font-size: 45px;
  }
  .secondLeftHeading{
    font-size: 90px;
    margin-top: 26px;
  }
  .secondLeftSub{
    margin-top: 20px;
    color: var(--gray700);
    line-height: 150%;
    font-size: 25px;
    margin-left: 12rem;
  }
  .secondRight{
    padding-top: 27px;
    margin-right:80px;
  }
  .third{
    background-color: #084457dc;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--gray150);
    overflow-y: hidden;
  }
  .thirdLeft{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
  }
  .thirdLeftIcon{
    margin-top: 40px;
  }
  .thirdLeftHeading{
    font-size: 90px;
    color: white;
    margin-top: 26px;
  }
  .thirdLeftSub{
    margin-top: 20px;
    color:white;
    line-height: 150%;
    font-size: 25px;
    margin-left: 16rem;
  }
  .thirdRight{
    padding-top: 27px;
    margin-left:80px;
  }
  .secondLeftBut{
    font-size: 20px;
    padding-top: 30px;
    margin-left: 250px;
  }
  .thirdLeftBut{
    font-size: 20px;
    padding-top: 30px;
    margin-left: 220px;
  }



  .buttontj{
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .buttontj {
    cursor:pointer;
    --border-right: 6px;
    --text-stroke-color:rgb(255, 255, 255);
    --animation-color: #000000;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    }
    /* hover */
    .buttontj:hover .hover-text {
      width: 100%;
      filter: drop-shadow(0 0 23px var(--animation-color))
    }